@font-face {
    font-family: 'Mobbish';
    src: url('../assets/fonts/CloisterBlack.ttf') format('truetype');;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.site-header,
.site-footer {
    background-color: black;
    border: 0;
}

.wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - 30px * 2);
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(1000px - (30px));
        max-width: calc(1000px - (30px));
    }
}


.page-content {
    background-color: black;

    a,
    a:visited,
    a:hover,
    a:active,
    a:focus {
        color: white;
        outline: none;
    }

    a:hover {
        color: white;
    }

    h1 {
        color: white;
        font-family: Mobbish, serif;
        margin-bottom: 0.25em;
        text-align: center;
        font-size: 5em;
    }

    .ca {
        position: relative;
        background-image: url('images/copy.png');
        background-repeat: no-repeat;
        background-size: 32px;
        background-position: calc(100% - 10px) center;
        cursor: pointer;
        word-break: break-all;
        padding: 10px 50px 10px 10px;
        display: table;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            background-size: 24px;
        }

        &:hover,
        &:visited {
            text-decoration: none;
        }
    }
}

#links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 10px;

    > div {
        padding-right: 1.25rem;

        @media (max-width: 768px) {
            padding-right: 0.5rem;
        }

        &:last-child {
            padding: 0;
        }
    }

    > div {
        width: 45px;

        @media (max-width: 768px) {
            width: 30px;
        }
    }

    img {
        display: block;
        width: 100%;
    }
}
